.design{
  cursor: pointer;
}

th{
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: .5em;
}

td{
  padding-top: .5em;
  padding-bottom: .5em;
}

.design1 {
  color: red;
  width: 120%;
  text-align: center;
}
